@import "./variables";
@import './libs/normalize.scss';

@import './components/all';

@font-face {
  font-display: swap;
  font-family: euclidCircularA;
  src: local("Karla-Bold"), url("../asssets/fonts/Karla-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: euclidCircularA;
  src: local("Karla-Bold"), url("../asssets/fonts/Karla-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1125px;
  width: 100%;
  margin: 0 auto;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: inline-block;

  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  padding: 17px 58px 22px 57px;

  font-weight: 700;
  font-size: 23px;
  line-height: 27px;

  user-select: none;
}

.btn__root {
  background: var(--btn-color);
}

.btn__return {
  background: var(--btn-color-return);
}

.hero-popup.active~.overlay {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
  opacity: 0.5;
  position: fixed;
  top: 0;
  right: 0;
  // transform: translate(-50%, -50%);
  z-index: 19;
}


.no-scroll {
  overflow: hidden;
  padding-right: 15px;
}

/* adaptive */
@media screen and (max-width: 1349px) {

  .container {
    max-width: 1000px;
  }

}

@media screen and (max-width: 1023px) {

  .container {
    max-width: 720px;
  }

  .btn {
    border-radius: 8px;
    padding: 10px 32px 10px 32px;
    font-size: 16px;
    line-height: 100%;
  }

}

@media screen and (max-width: 767px) {

  .container {
    max-width: 100%;
    padding: 0 24px;
  }

}

@media screen and (max-width: 479px) {

  .container {
    padding: 0 16px;
  }

}

.promo {
  background: linear-gradient(180deg, #1F2A63 0%, #17002F 100%);
  height: 94vh;

  &__inner {
    padding-top: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__content {
    max-width: 516px;
    height: 557px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-weight: 400;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 4px;
    color: var(--white-color);
    user-select: none;

    b {
      font-size: 72px;
      line-height: 84px;
      letter-spacing: 4px;
      color: var(--white-color);
      user-select: none;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    color: var(--white-color);
    user-select: none;
  }

  &__link {
    display: inline-flex;
    align-self: flex-start;
  }


  &__img {
    position: absolute;
    right: -10%;
    top: 10%;
    pointer-events: none;
    user-select: none;

    img {
      width: 793px;
    }
  }
}

@media screen and (max-width: 1349px) {

  .promo {

    &__inner {
      padding-top: 82px;
    }

    &__content {
      max-width: 405px;
    }

    &__title {
      font-size: 64px;
      line-height: 74px;

      b {
        font-size: 64px;
        line-height: 74px;
      }
    }

    &__img {
      right: -23%;

      img {
        width: 80%;
      }
    }

  }

}

@media screen and (max-width: 1023px) {

  .promo {

    &__inner {
      padding-top: 25%;
    }

    &__content {
      max-width: 330px;
      height: 375px;
    }

    &__title {
      font-size: 48px;
      line-height: 50px;

      b {
        font-size: 48px;
        line-height: 50px;
      }
    }

    &__text {
      font-size: 24px;
      line-height: 33px;
    }

    &__img {
      right: -53%;
      top: 30%;

      img {
        width: 60%;
      }
    }

  }

}

@media screen and (max-width: 767px) {

  .promo {
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
      font-size: 26px;
      line-height: 26px;

      b {
        font-size: 26px;
        line-height: 26px;
      }
    }

    &__inner {
      padding: 10% 0;
      flex-direction: column-reverse;
    }

    &__img {
      position: unset;
    }

    &__img img {
      width: 100%;
    }

    &__content {
      height: 155px;
    }

    &__text {
      font-size: 16px;
      line-height: 16px;
    }
  }

}

.language-select {
  display: flex;
  justify-content: flex-end;
  margin: 17px 0 36px;

  & p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #4B4B4B;
  }
}

.page__title {
  font-weight: 400;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  letter-spacing: 3px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 36px;

  & b {
    font-size: 35px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 3px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.search-root {
  margin-bottom: 36px;

  &__input {
    background: #F2F2F2;
    box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
    border-radius: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: none;
    width: 100%;
    height: 56px;
    padding: 0 31px;
    outline: none;

    &:focus {
      border: none;
    }
  }
}

.heroes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(351px, 1fr));
  grid-gap: 45px 35px;
  margin: 41px 0 120px;
}

/* adaptive */
@media screen and (max-width: 768px) {
  .heroes {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  }
}

// .hero-popup.active